<!-- <div class="h-[80vh] bg-white_ _radius"> -->
<div class="overflow-auto md:h-[80vh] scrollbar-hide bg-white_  _radius  flex-1 flex flex-col h-screen w-full">

    <!-- <div class=" bg-white_ _radius"> -->

    <div class="w-full justify-start pt-8">
        <div class="">
            <div class=" border-b-2 border-gray_    px-2">
                <nav class="flex  md:gap-4 justify-between md:justify-start">
                    <a *ngFor="let stat of filters; let i = index" (click)="updateFilter(i,stat.name)"
                        class="whitespace-nowrap cursor-pointer inline-flex  py-1 px-3 text-sm text-gray font-medium transition-all duration-200 ease-in-out"
                        [ngClass]="{
                             'text-gray-600 hover:bg-white_ hover:text-gray-900': !stat.active,
                             'bg-white_ !text-green_ border-b-2 !border-green_ ': stat.active
                           }">
                        {{ stat.title }}
                    </a>
                </nav>
            </div>
        </div>
    </div>
    <!-- ================================table=============================== -->
    <div *ngIf="!totalItems && !isLoading"
        class="flex items-center justify-center text-lg bg-gray-200 font-semibold mb-4 h-full">
        <p class="text-center text-3xl">no records available</p>
    </div>
    <app-loader *ngIf="isLoading"></app-loader>


    <div *ngIf="tripdata.length" class="relative overflow-x-auto  sm:rounded-lg my-12">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>

                    <th scope="col" class="px-6 py-3 whitespace-nowrap">Departure Time</th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap">Driver</th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap">No of Passagers</th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap ">price per seat</th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap">From</th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap">To </th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap">Approval Status </th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap">Action</th>



                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of tripdata"
                    [ngClass]="{'odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700': true}">

                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ row.departureTime | date:'EEEE, MMMM d, y' }} </td>
                    <!-- <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">

                    </td> -->
                    <td class="px-6 py-4 whitespace-nowrap ">{{ row.driverName }}</td>

                    <td class="px-6 py-4 whitespace-nowrap">{{ row.numberOfSeats }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ row.pricePerSeat | currency: 'Ksh ' : 'symbol' : '' }}
                    </td>
                    <!-- <td class="px-6 py-4">{{ row.departureTime | date:'EEEE, MMMM d, y' }}</td> -->
                    <td class="px-6 py-4 whitespace-nowrap">


                        {{ getPlaceName(row.startPointReverseGeoCoordinatesResponse) | trancateWords:20 }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">


                        {{ getPlaceName(row.destinationReverseGeoCoordinatesResponse) | trancateWords:20 }}
                    </td>


                    <td class="px-6 py-4 flex whitespace-nowrap">
                        <button *ngIf="row.tripApprovalStatus === 'DRIVER_APPROVAL'" type="button"
                            class="flex items-center text-white bg-yellow_ hover:bg-yellow_ focus:ring-0 focus:ring-none font-medium _radius text-sm px-6 py-1 me-2 mb-2">

                            Driver Approval
                        </button>
                        <button *ngIf="row.tripApprovalStatus === 'AUTO_APPROVE'" type="button"
                            class="flex items-center text-green-800 bg-green-200 hover:bg-green-300 focus:ring-0 focus:ring-none font-medium _radius text-sm px-6 py-1 me-2 mb-2">

                            Auto Approval
                        </button>
                    </td>

                    <td class="px-6 py-4">
                        <a [routerLink]="row.tripId.toString()"
                            class="font-medium text-gray-700 dark:text-gray-300 cursor-pointer">View</a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="tripdata.length " class="flex gap-4 items-center mt-4 mx-12">
        <button class="px-4 py-2 bg-gray-300 text-gray-900 rounded" [disabled]="currentPage === 0"
            (click)="onPageChange(currentPage - 1)">
            Previous
        </button>

        <span>Page {{ currentPage + 1 }} of {{ totalItems }}</span>

        <button class="px-4 py-2 bg-gray-300 text-gray-900 rounded"
            [disabled]="currentPage == totalItems || currentPage > totalItems" (click)="onPageChange(currentPage + 1)">
            Next
        </button>
    </div>


    <!-- <div *ngIf="!totalItems" class="flex items-center justify-center text-lg bg-gray-200 font-semibold mb-4 h-full">
        <p>No Trips Available</p>
    </div> -->

    <!-- </div> -->
</div>