<div class="overflow-auto md:h-[80vh] scrollbar-hide bg-white_  _radius  flex-1 flex flex-col h-screen w-full">

    <div class="w-full justify-start pt-12">
        <div class="">
            <div class=" border-b-2 border-gray_    px-2">
                <nav class="flex flex-wrap gap-4">
                    <a *ngFor="let stat of filters; let i = index" (click)="updateFilter(i,stat.name)"
                        class="whitespace-nowrap cursor-pointer inline-flex  py-1 px-3 text-sm text-gray font-medium transition-all duration-200 ease-in-out"
                        [ngClass]="{
                         'text-gray-600 hover:bg-white_ hover:text-gray-900': !stat.active,
                         'bg-white_ !text-green_ border-b-2 !border-green_ ': stat.active
                       }">
                        {{ stat.title | titlecase }}
                    </a>
                </nav>
            </div>
        </div>
    </div>
    <!-- ================================table=============================== -->

    <div *ngIf="!isLoading && !kyscData.length && activeTab === 1 "
        class="flex items-center justify-center text-lg bg-gray-200 font-semibold mb-4 h-64">
        <p class="text-center text-2xl">no records availabl</p>
    </div>
    <app-loader *ngIf="isLoading"></app-loader>


    <div *ngIf="kyscData.length && activeTab === 1" class="relative overflow-x-auto sm:rounded-lg my-12">
        <div class="container mx-auto">
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="bg-gray-100">
                        <tr>
                            <th class="py-3 px-4 text-left text-gray-600 font-semibold whitespace-nowrap">#</th>
                            <th class="py-3 px-4 text-left text-gray-600 font-semibold whitespace-nowrap">KYC Document
                            </th>
                            <th class="py-3 px-4 text-left text-gray-600 font-semibold whitespace-nowrap">Status</th>
                            <th class="py-3 px-4 text-left text-gray-600 font-semibold whitespace-nowrap">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of kyscData; let i = index"
                            [ngClass]="{'bg-gray-50': i % 2 !== 0, 'border-t': true}">
                            <td class="py-3 px-4">
                                {{ i + 1}}
                            </td>
                            <td class="py-3 px-4 whitespace-nowrap">{{ item.documentTitle | uppercase }}</td>

                            <td class="py-3 px-4 whitespace-nowrap">
                                <span [ngClass]="{
                                        'bg-green-100 text-text-green_ py-1 px-3 rounded-full text-xs': item.status === 'COMPULSORY',
                                        'bg-yellow_ text-white_ py-1 px-3 rounded-full text-xs': item.status === 'OPTIONAL',
                                        'bg-red-100 text-red-800': item.status === 'NO_LONGER_REQUIRED'
                                    }" class="text-sm font-medium mr-2 px-2.5 py-0.5 rounded">
                                    {{ getStatusLabel(item.status) | titlecase}}
                                </span>
                            </td>
                            <td class="px-6 py-2 gap-4 whitespace-nowrap  flex">

                                <div class="cursor-pointer">


                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="#624DE3" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                    </svg>

                                </div>
                                <div class="cursor-pointer">

                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="#A30D11" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                    </svg>

                                </div>

                                <div class="cursor-pointer" (click)="updateActiveTab(3)">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="#017873" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M12 4.5v15m7.5-7.5h-15" />
                                    </svg>

                                </div>



                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>




    <div *ngIf="activeTab === 2" class="relative overflow-x-auto  sm:rounded-lg my-12">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">

            <thead class="bg-gray-100">
                <tr>
                    <th class="py-3 px-4 text-left text-gray-600 font-semibold">#</th>
                    <th class="py-3 px-4 text-left text-gray-600 font-semibold">configuration Type</th>
                    <th class="py-3 px-4 text-left text-gray-600 font-semibold">Percentage %</th>
                    <th class="py-3 px-4 text-left text-gray-600 font-semibold">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of kycConfiguration ;let i = index"
                    [ngClass]="{'odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700': true}">
                    <th scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ i + 1}}
                    </th>
                    <th scope="row" class="px-6 py-2 font-normal text-gray-900 whitespace-nowrap dark:text-white">
                        {{ row.configurationType }}
                    </th>
                    <td scope="row" class="px-6 py-2 font-normal text-gray-900 whitespace-nowrap dark:text-white">
                        {{ row.percentageValue * 100 }}
                    </td>
                    <td class="px-6 py-4 gap-2  flex">

                        <div class="cursor-pointer" (click)="updateEditForm(3 , row)">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="#624DE3" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>

                        </div>
                        <!-- <div class="cursor-pointer">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="#A30D11" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                            </svg>

                        </div>

                        <div class="cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="#017873" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                            </svg>

                        </div> -->



                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="activeTab === 3">
        <div *ngIf="selectedFilter != 'CONFIGURATION'"
            class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
            <div class="flex sm:mx-auto sm:w-full sm:max-w-sm gap-4">


                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="#017873" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Add
                    {{selectedFilter | titlecase}} Kys Document</h2>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <form [formGroup]="kycForm" (ngSubmit)="onSubmit()" class="space-y-6">


                    <div hidden> <label for="email" class="block text-sm font-medium leading-6 text-gray-900">
                            User Role
                        </label>
                        <div class="mt-2">
                            <input id="userRole" formControlName="userRole" type="text"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green_ sm:text-sm sm:leading-6"
                                [ngModel]='selectedFilter' required />

                        </div>
                    </div>
                    <div>
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">
                            Document Title
                        </label>
                        <div class="mt-2">
                            <input id="title" formControlName="title" type="text"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green_ sm:text-sm sm:leading-6"
                                [ngClass]="{ 'ring-red-500': title?.invalid && title?.touched }"
                                placeholder="Enter Document Title" required />
                            <div *ngIf="title?.invalid && title?.touched" class="text-red-600 text-sm mt-1">
                                <div *ngIf="title?.errors?.['required']">document title is required.</div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <label for="kycStatus" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Select Kyc Status
                        </label>
                        <select id="status" formControlName="status"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green_ focus:border-green_ block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            [ngClass]="{ 'ring-red-500': status?.invalid && status?.touched }" required>
                            <option value="" disabled selected>Choose a status</option>
                            <option *ngFor="let stat of kycStatus" [value]="stat.name">{{ stat.title | uppercase }}
                            </option>
                        </select>
                        <div *ngIf="status?.invalid && status?.touched" class="text-red-600 text-sm mt-1">
                            <div *ngIf="status?.errors?.['required']">Please select a KYC status.</div>
                        </div>
                    </div>

                    <div>
                        <button type="submit" [disabled]="kycForm.invalid"
                            class="flex w-full justify-center rounded-md bg-yellow_  px-3 py-1.5 text-sm font-semibold leading-6 text-black shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                            Add
                        </button>
                    </div>
                </form>



            </div>
        </div>


        <!-- updating kyc form -->
        <div *ngIf="selectedFilter === 'CONFIGURATION'"
            class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
            <div class="flex sm:mx-auto sm:w-full sm:max-w-sm gap-4">


                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="#624DE3" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                </svg>
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Edit
                    {{selectedFilter | titlecase}} </h2>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <form [formGroup]="updateKyc" (ngSubmit)="updateConfiguration()" class="space-y-6">



                    <div>
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">
                            Configuration Type
                        </label>
                        <div class="mt-2">
                            <input id="configurationType" formControlName="configurationType" type="text"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green_ sm:text-sm sm:leading-6"
                                required />

                        </div>
                    </div>

                    <div>
                        <label for="percentageValue"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Percentange
                        </label>

                        <input id="percentageValue" formControlName="percentageValue" type="text"
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green_ sm:text-sm sm:leading-6"
                            required />

                    </div>

                    <div>
                        <button type="submit" [disabled]="updateKyc.invalid"
                            class="flex w-full justify-center rounded-md bg-yellow_  px-3 py-1.5 text-sm font-semibold leading-6 text-black shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                            Update
                        </button>
                    </div>
                </form>



            </div>
        </div>