<div class="h-[80vh] _radius flex justify-between gap-4">
    <div class="w-1/4 mx-4 bg-white _radius p-2">
        <div class="max-w-sm mx-auto bg-white srounded-lg overflow-hidden my-4 p-6">
            <div class="flex justify-center">
                <img class="w-48 h-48 object-cover rounded-full border-4 border-teal-500"
                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330" alt="Profile Picture">
            </div>
            <div class=" mt-12">
                <div class="mt-4  justify-between w-full">
                    <p class="text-green_">Name: <span class="px-2 text-black">{{userObject.user.name}}</span></p>
                </div>
                <div class="mt-4  justify-between w-full">
                    <p class="text-green_">Email: <span class="text-black">{{userObject.user.email}}</span></p>
                </div>
                <div class="mt-4  justify-between w-full">
                    <p class="text-green_">Role: <span class="text-black">{{userObject.user.roles}}</span></p>
                </div>

                <!-- <div class="mt-4 text-sm text-gray-700">
                    <p class="text-green_">Bio:</p>
                    <p>A random paragraph can also be an excellent way for a writer to tackle writer's block. Writing
                        block
                        can often happen due to being stuck with a current project that the writer is trying to
                        complete...</p>
                </div> -->
                <div class="mt-8">
                    <p class="text-green_">Rating</p>
                    <div class="flex justify-between mt-2">
                        <svg class="w-6 h-6 text-yellow_" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.957a1 1 0 00.95.691h4.149c.969 0 1.371 1.24.588 1.81l-3.356 2.44a1 1 0 00-.364 1.118l1.287 3.957c.3.921-.755 1.688-1.54 1.118l-3.356-2.44a1 1 0 00-1.176 0l-3.356 2.44c-.784.57-1.838-.197-1.539-1.118l1.287-3.957a1 1 0 00-.364-1.118l-3.356-2.44c-.784-.57-.38-1.81.588-1.81h4.149a1 1 0 00.95-.691l1.286-3.957z" />
                        </svg>
                        <svg class="w-6 h-6 text-yellow_" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.957a1 1 0 00.95.691h4.149c.969 0 1.371 1.24.588 1.81l-3.356 2.44a1 1 0 00-.364 1.118l1.287 3.957c.3.921-.755 1.688-1.54 1.118l-3.356-2.44a1 1 0 00-1.176 0l-3.356 2.44c-.784.57-1.838-.197-1.539-1.118l1.287-3.957a1 1 0 00-.364-1.118l-3.356-2.44c-.784-.57-.38-1.81.588-1.81h4.149a1 1 0 00.95-.691l1.286-3.957z" />
                        </svg>
                        <svg class="w-6 h-6 text-yellow_" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.957a1 1 0 00.95.691h4.149c.969 0 1.371 1.24.588 1.81l-3.356 2.44a1 1 0 00-.364 1.118l1.287 3.957c.3.921-.755 1.688-1.54 1.118l-3.356-2.44a1 1 0 00-1.176 0l-3.356 2.44c-.784.57-1.838-.197-1.539-1.118l1.287-3.957a1 1 0 00-.364-1.118l-3.356-2.44c-.784-.57-.38-1.81.588-1.81h4.149a1 1 0 00.95-.691l1.286-3.957z" />
                        </svg>
                        <svg class="w-6 h-6 text-yellow_" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.957a1 1 0 00.95.691h4.149c.969 0 1.371 1.24.588 1.81l-3.356 2.44a1 1 0 00-.364 1.118l1.287 3.957c.3.921-.755 1.688-1.54 1.118l-3.356-2.44a1 1 0 00-1.176 0l-3.356 2.44c-.784.57-1.838-.197-1.539-1.118l1.287-3.957a1 1 0 00-.364-1.118l-3.356-2.44c-.784-.57-.38-1.81.588-1.81h4.149a1 1 0 00.95-.691l1.286-3.957z" />
                        </svg>
                        <svg class="w-6 h-6 text-yellow_" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.957a1 1 0 00.95.691h4.149c.969 0 1.371 1.24.588 1.81l-3.356 2.44a1 1 0 00-.364 1.118l1.287 3.957c.3.921-.755 1.688-1.54 1.118l-3.356-2.44a1 1 0 00-1.176 0l-3.356 2.44c-.784.57-1.838-.197-1.539-1.118l1.287-3.957a1 1 0 00-.364-1.118l-3.356-2.44c-.784-.57-.38-1.81.588-1.81h4.149a1 1 0 00.95-.691l1.286-3.957z" />
                        </svg>
                    </div>
                </div>
                <div class="mt-4  justify-between w-full">
                    <p class="text-green_">Trips: <span class="px-2 text-black">78</span></p>
                    <p class="text-green_">Cancellations: <span class="px-2  text-black">0</span></p>
                </div>
            </div>
        </div>

    </div>
    <div class="w-3/4 mx-4 bg-white _radius p-2">
        <div class="max-w-4xl mx-auto bg-white rounded-lg overflow-hidden my-4 p-6">
            <!-- KYC Documents Section -->

            <div class="mb-6">
                <h3 class="text-teal-600 text-lg font-semibold mb-4">KYC Documents</h3>
                <table *ngIf="userKycDoc.length" class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3">Document number</th>
                            <th scope="col" class="px-6 py-3">Document name</th>
                            <th scope="col" class="px-6 py-3">Verification Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let document of userKycDoc" class="bg-white border-b">
                            <td class="px-6 py-4 text-green_ cursor-pointer relative group"
                                (click)="downloadKycDoc(document.fileId)">
                                {{ document.documentNumber }}
                                <div
                                    class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 hidden group-hover:block bg-gray-700 text-white text-xs rounded py-1 px-2 whitespace-no-wrap z-2">
                                    Click to download
                                </div>
                            </td>

                            <td class="px-6 py-4 flex items-center">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FBBE4B"
                                    viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                        d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-7Z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span class="px-2">{{
                                    document.kycConfigDocumentTitle }}</span>

                            </td>


                            <td class="px-6 py-4">
                                <span class="bg-yellow_ text-white_ py-1 px-3 rounded-full text-xs">{{
                                    document.verificationStatus | titlecase }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="!userKycDoc.length"
                    class="flex items-center justify-center text-lg bg-gray-100 font-semibold mb-4 h-64">
                    <p>No Documents Available</p>
                </div>


            </div>

            <!-- Trips Section -->
            <h3 class="text-teal-600 text-lg font-semibold mb-4">Trips </h3>

            <div class=" overflow-auto scrollbar-hide h-64">
                <div class="w-full justify-start pt-8">
                    <div class="">
                        <div class=" border-b-2 border-gray_    px-2">
                            <nav class="flex flex-wrap gap-4">
                                <a *ngFor="let stat of filters; let i = index" (click)="updateFilter(i,stat.name)"
                                    class="whitespace-nowrap cursor-pointer inline-flex  py-1 px-3 text-sm text-gray font-medium transition-all duration-200 ease-in-out"
                                    [ngClass]="{
                                         'text-gray-600 hover:bg-white_ hover:text-gray-900': !stat.active,
                                         'bg-white_ !text-green_ border-b-2 !border-green_ ': stat.active
                                       }">
                                    {{ stat.name | titlecase }} Trips
                                </a>
                            </nav>
                        </div>
                    </div>
                </div>

                <div *ngIf="tripdata.length" class="relative overflow-x-auto  sm:rounded-lg my-12">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">Departure Time</th>
                                <th scope="col" class="px-6 py-3">Driver</th>
                                <th scope="col" class="px-6 py-3">No of Passagers</th>
                                <th scope="col" class="px-6 py-3 ">price per seat</th>
                                <th scope="col" class="px-6 py-3">From</th>
                                <th scope="col" class="px-6 py-3">To </th>
                                <th scope="col" class="px-6 py-3">Approval Status </th>


                                <!-- <th scope="col" class="px-6 py-3">Number Plate</th>
                        <th scope="col" class="px-6 py-3">Documents</th>
                        <th scope="col" class="px-6 py-3">Status</th> -->
                                <!-- <th scope="col" class="px-6 py-3">More</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tripdata"
                                [ngClass]="{'odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700': true}">
                                <td scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ row.departureTime | date:'EEEE, MMMM d, y' }} </td>
                                <!-- <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">

                    </td> -->
                                <td class="px-6 py-4 ">{{ row.driverName }}</td>

                                <td class="px-6 py-4 ">{{ row.numberOfSeats }}</td>
                                <td class="px-6 py-4 ">{{ row.pricePerSeat | currency: 'KSH ' : 'symbol' : '' }}</td>
                                <!-- <td class="px-6 py-4">{{ row.departureTime | date:'EEEE, MMMM d, y' }}</td> -->
                                <td>


                                    {{ getPlaceName(row.startPointReverseGeoCoordinatesResponse) | trancateWords:20 }}
                                </td>
                                <td>


                                    {{ getPlaceName(row.destinationReverseGeoCoordinatesResponse) | trancateWords:20 }}
                                </td>


                                <!-- 
                        <td class="px-6 py-4 ">{{ getPlaceName(row.destinationReverseGeoCoordinatesResponse)
                            | trancateWords:10}}</td> -->


                                <!--<td class="px-6 py-4">{{ row.numberPlate }}</td>
                        <td class="px-6 py-4">{{ row.documents }}</td> -->
                                <td class="px-6 py-4 flex">
                                    <button *ngIf="row.tripApprovalStatus === 'DRIVER_APPROVAL'" type="button"
                                        class="flex items-center text-white bg-yellow_ hover:bg-yellow_ focus:ring-0 focus:ring-none font-medium _radius text-sm px-6 py-1 me-2 mb-2">
                                        <svg class="w-6 h-6 text-gray-800 me-2" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                            <path stroke="white" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="M5 12h14m-7 7V5" />
                                        </svg>
                                        Driver Approval
                                    </button>
                                    <button *ngIf="row.tripApprovalStatus === 'AUTO_APPROVE'" type="button"
                                        class="flex items-center text-green-800 bg-green-200 hover:bg-green-300 focus:ring-0 focus:ring-none font-medium _radius text-sm px-6 py-1 me-2 mb-2">
                                        <svg class="w-6 h-6 text-gray-800" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                            <path stroke="#017873" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5" />
                                        </svg>
                                        Auto Approval
                                    </button>
                                </td>
                                <!-- <td class="px-6 py-4">
                            <a class="font-medium text-gray-700 dark:text-gray-300 cursor-pointer">View</a>
                        </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div *ngIf="!tripdata.length "
                    class="flex items-center justify-center text-lg bg-gray-100 font-semibold mb-4 h-64">
                    <p>No Trips Available</p>
                </div>
            </div>
        </div>


    </div>


</div>