.navigation-item {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    cursor: pointer;
    color: #ccc;
    gap: 8px;
}


.active {
    background-color: #76c79c; 
    font-weight: bold;
    color: #FFFFFF;
}

.icon {
    width: 24px;
    height: 24px;
}



 