<div class="min-h-screen bg-white_ flex flex-col justify-center sm:py-12">
    <app-loader *ngIf="isLoading"></app-loader>

    <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md ">
        <img src="../../../assets/Tusafiri Rides Logo.svg" class="logo" alt="">

        <form class="my-8" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mt-4 mb-2 floating-label-wrapper">
                <input type="text" formControlName="email" placeholder=" " required
                    class="input bg-gray-50 border border-border-green_ text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full py-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />
                <label for="email" class="floating-label text-sm ml-2 font-medium text-gray-900 dark:text-white">
                    Email
                </label>
            </div>

            <div class="mt-12 mb-2 floating-label-wrapper relative">
                <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" placeholder=" "
                    required
                    class="input bg-gray-50 border border-green_ text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full py-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />
                <label for="password" class="floating-label text-sm ml-2 font-medium text-gray-900 dark:text-white">
                    Password
                </label>


                <button type="button" class="absolute inset-y-0 right-0 pr-3 flex items-center"
                    (click)="togglePasswordVisibility()">
                    <span *ngIf="!passwordVisible"> 👁</span>
                    <span *ngIf="passwordVisible">👁‍🗨</span>
                </button>
            </div>

            <div class="mt-12 w-full flex justify-center">
                <button type="submit"
                    class="text-white bg-green_ hover:bg-green-600 focus:ring-4 focus:ring-green-300 w-full font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none">
                    Login
                </button>
            </div>
        </form>

        <div class="">
            <div class="flex float-right">
                <div class="text-center sm:text-left whitespace-nowrap">

                    <span class="inline-block ml-1 cursor-pointer">Forgot Password?</span>
                </div>
            </div>
        </div>
    </div>
</div>