<div class="h-[80vh] bg-white_ _radius">
    <div class="flex p-6 justify-between">
        <div>
            <p class="text-2xl text-black font-bold">Users</p>
        </div>
        <div class="">
            <form class="flex">
                <div class="">
                    <button id="dropdown-button" data-dropdown-toggle="dropdown"
                        class="flex-shrink-0 z-10 inline-flex items-center py-2 _radius mx-12 px-12 text-sm font-medium text-center text-text_gray bg-green_lighter_2 border border-green_lighter_2 rounded-s-lg hover:bg-green_lighter_2 focus:ring-0 focus:outline-none focus:ring-gray-100 dark:bg-green_lighter_2 dark:hover:bg-green_lighter_2 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
                        type="button">
                        Filter By
                        <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                    <div id="dropdown"
                        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-lg w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
                            <li>
                                <button type="button"
                                    class="inline-flex w-full px-4 py-2 hover:bg-green_lighter_2 dark:hover:bg-gray-600 dark:hover:text-white">Pending
                                    Approval</button>
                            </li>
                            <li>
                                <button type="button"
                                    class="inline-flex w-full px-4 py-2 hover:bg-green_lighter_2 dark:hover:bg-gray-600 dark:hover:text-white">Approved</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="search" id="default-search"
                        class="block w-full p-2 ps-10 text-sm text-text_gray px-12 border border-green_lighter_2 _radius bg-green_lighter_2 dark:bg-green_lighter_2 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white focus:outline-none focus:ring-0 focus:border-green_lighter_2"
                        placeholder="Search..." required />
                </div>
            </form>
        </div>
    </div>
    <div class="w-full justify-start">
        <div class="">
            <div class=" border-b-2 border-gray_    px-2">
                <nav class="flex flex-wrap gap-4">
                    <a *ngFor="let stat of filters; let i = index" (click)="updateFilter(i,stat.name)"
                        class="whitespace-nowrap cursor-pointer inline-flex  py-1 px-3  text-gray font-medium transition-all duration-200 ease-in-out"
                        [ngClass]="{
                         'text-gray-600 hover:bg-white_ hover:text-gray-900': !stat.active,
                         'bg-white_ !text-green_  font-bold border-b-2 !border-green_ ': stat.active
                       }">
                        {{ stat.title }}
                    </a>
                </nav>
            </div>
        </div>
    </div>


    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">#</th>
                <th scope="col" class="px-6 py-3">Name</th>
                <th scope="col" class="px-6 py-3">ROLE</th>
                <th scope="col" class="px-6 py-3">EMAIL</th>
                <th scope="col" class="px-6 py-3">PHONE NUMBER</th>
                <th scope="col" class="px-6 py-3">More</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of allUsers"
                [ngClass]="{'odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700': true}">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ row.userId }}
                </th>
                <td class="px-6 py-4">{{ row.name }}</td>
                <td class="px-6 py-4">{{ row.roles }}</td>
                <td class="px-6 py-4">{{ row.email }}</td>
                <td class="px-6 py-4">{{ row.userProfile?.phoneNumber }}</td>

                <td class="px-6 py-4">
                    <a *ngIf="!getRole(row.roles)" [routerLink]="row.userId.toString()"
                        class="font-medium text-gray-700 dark:text-gray-300 cursor-pointer">View</a>
                </td>


            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="!allUsers.length " class="relative overflow-x-auto sm:rounded-lg flex justify-center items-center h-1/2">
    <p class="text-center text-3xl">no records available</p>
</div>